/.DiagrammGenerator.java._trace
/.JSClassesGenerator.java._trace
/.JSClassesGenerator.xtendbin
/.JSDiagrammGenerator.java._trace
/.JSDiagrammGenerator.xtendbin
/.SimplespecGenerator.java._trace
/.SimplespecGenerator.xtendbin
/JSClassesGenerator.java
/JSDiagrammGenerator.java
/SimplespecGenerator.java
